:root {
  --primary-color-red: #a8001a;
  --primary-color-red-rgb: 168, 0, 26;
  --primary-color-cyan: #01cfcd;
  --primary-color-cyan-rgb: 1, 207, 205;
  --primary-color-purple: #9c00ce;
  --primary-color-purple-rgb: 156, 0, 206;
  --primary-color-dark-purple: #340045;
  --primary-color-dark-purple-rgb: 52, 0, 69;
  --primary-color-darker-purple: #1b0024;
  --primary-color-darker-purple-rgb: 27, 0, 36;

  --primary-color-dark: #18181b;
  --primary-color-dark-rgb: 24, 24, 27;
  --primary-color-text: #cccccc;
  --primary-color-text-rgb: 204, 204, 204;
}

html {
  background-color: var(--primary-color-dark-purple);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cccccc;
}

html,
body,
#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
